@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono-regular {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
  --colour-card-dark-blue: #000732;
  --colour-card-light-blue: #3c447b;
  --colour-card-dark-red: #2e0000;
  --colour-card-light-red: #800000;
  --colour-card-dark-green: #051f00;
  --colour-card-light-green: #0d4900;

  --colour-class-concepts: #f2b22e;
  --colour-class-architectures: #191a1f;
  --colour-class-servers: #051f00;
  --colour-class-clients: #000521;

  --colour-rarity-prime: #ad76ff;
  --colour-rarity-nexus: #ed9450;
  --colour-rarity-vector: #50a1ed;
  --colour-rarity-constant: #e8feff;
  --colour-rarity-variable: #717171;

  --colour-card-back-background-blue: linear-gradient(
    to bottom,
    var(--colour-card-dark-blue) 40%,
    var(--colour-card-light-blue) 100%
  );
  --colour-card-back-background-red: linear-gradient(
    to bottom,
    var(--colour-card-dark-red) 40%,
    var(--colour-card-light-red) 100%
  );
  --colour-card-back-background-green: linear-gradient(
    to bottom,
    var(--colour-card-dark-green) 40%,
    var(--colour-card-light-green) 100%
  );

  --colour-font-black-blue: #000521;

  --colour-class-landing: #1E2660;

  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
  
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
}

h2 {
}
