#home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
    /* padding: 4rem; */
    background-color: #f0f0f0;


}

#home-contents {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: blue;
}

#main-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;

    z-index: 1;


}

#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0.25;

    z-index: 0;

    /* background-color: red; */
}

#welcome-message {
    z-index: 1;

}

#home-footer {

}

#copyright {

}
