#landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
  /* padding: 4rem; */
  background: var(--colour-card-back-background-blue);
}

#landing-contents {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* background-color: var(--colour-card-back-background-blue); */
}

#main-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;

  z-index: 1;
  color: white;
}

#logo {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.85) rotate(0deg);
  transition: transform 0.5s ease-in-out;

  transform-origin: center center;
}

#logo:hover {
  transform: translate(-50%, -50%) scale(0.9) rotate(360deg);
  transition: transform 0.5s ease-in-out;
}

#logo:active {
  transform: translate(-50%, -50%) scale(0.75) rotate(360deg);
  transition: transform 0.5s ease-in-out;
}

#welcome-message {
  z-index: 1;
  position: absolute;
  bottom: 12.5%;
}

#welcome-text {
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  text-transform: lowercase;

  font-size: 3rem;
  color: var(--colour-font-black-blue);

  animation: pulse 3s infinite;
}

#welcome-text:hover {
  text-decoration: underline;
  color: var(--colour-font-black-blue);
  animation: none;
  transition: 0.5s;
}

/* animation for the "click anywhere" welcome text to slowly pulse */
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}

#landing-classes {
  position: relative;
  width: 100vw;
  height: 100vh;

  pointer-events: none;
  overflow: hidden;

  opacity: 0.25;
}

#servers-icon {
  position: absolute;
  top: 12.5%;
  right: 15%;

  transform: translate(-50%, -50%) scale(32.5) rotate(85deg);
  transform-origin: center center;

  fill: var(--colour-class-landing);
}

#clients-icon {
  position: absolute;
  bottom: -57.5%;
  right: -10%;

  transform: scale(37.5);
  /* Grow from the bottom right corner INWARDS */
  transform-origin: bottom right;

  fill: var(--colour-class-landing);
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 100));
}

#concepts-icon {
  z-index: 1;
  position: absolute;
  top: 15%;
  left: 17.5%;

  transform: scale(32.5) rotate(70deg);
  /* Grow from the top left corner INWARDS */
  transform-origin: center center;

  fill: var(--colour-class-landing);

  filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 100));
}

#architectures-icon {
  position: absolute;
  bottom: -30%;
  left: 0%;

  transform: scale(32.5);
  /* Grow from the bottom left corner INWARDS */
  transform-origin: bottom left;

  fill: var(--colour-class-landing);
}

#landing-footer {
}

#copyright {
}
